<% include ./partials/header %>

   <div class="container">
      <div class="wrap">
         <form action="/newStock" method="GET">
               <input required type="text" id="searchTerm" placeholder="What are you looking for?" name="search">
               <button type="submit" class="searchButton">
                  <i class="fa fa-search">Search</i>
               </button>
         </form>
      </div>
   

      <div class="jumbotron">
      <% if(data !== null && data !== undefined){ %>
         <% if(Object.keys(data).toString() !== "Message"){ %>   
               <h2>Stock Data:</h2>
               <div id="savedata">
                  <%= JSON.stringify(data) %>
               </div>

               <div name="stockData">
                     <% data.forEach(function(stock){ %>
                        <% if(symbols[symbols.length - 1] == stock["symbol"]){ %>
                              <div>
                                 <% var j = stock %>
                                 <% var ob = JSON.stringify(j,null,2); %>
                                 <% var str_array = ob.split(','); %>
                                 <% for(var i = 0; i < str_array.length; i++) { %>
                                    <h4><%=str_array[i].replace(/['"]+/g, '') %></h4>
                                 <% } %>    
                              </div>
               </div>

               <div>
                     <input required type="number" placeholder="number of stocks" name="numberofstocks" class="inputbox" id="numofstocks">
                     <input type="text" id="originalprice" name="originalprice" class="inputbox" value="<%= stock["price"] %>">
                     <button onclick="cal()" id="cost">Calculate Sum</button>
                     <strong>sum price:</strong> 
                     <span></span>
                        <script type="text/javascript">
                           function cal(){
                              var stocksNum = document.getElementById("numofstocks").value;
                              var pricePerStock = document.getElementById("originalprice").value;
                              var sum = stocksNum * pricePerStock;
                              var span = document.querySelector("span");
                              span.innerHTML = sum;
                           }
                        </script> 
                     <p><a onclick="add()" class="btn btn-primary btn-lg" id="addstock">Add Stock</a></p>
                     <p><a  class="btn btn-primary btn-md" href="/portfolio">Go To Portfolio</a></p>
                  <% } %>
               <% }) %>
               </div>
         
               <script type="text/javascript">
                  function add(){
                     var stockData = document.getElementById("savedata").innerHTML;
                     console.log("stock data: " + stockData);
                     var numofshares = document.getElementById("numofstocks").value;
                     var originalprice = document.getElementById("originalprice").value;
                     console.log("shares: " + numofshares + "selling price: " + originalprice);
                     //save data to local storage
                     localStorage.setItem("data",stockData);
                     localStorage.setItem("numOfShares", numofshares);
                     localStorage.setItem("originalprice", originalprice);
                     
                     //submit the data
                     $.ajax({
                        type: "POST",
                        url: "/newStock",
                        data: {
                           stockData: JSON.parse(localStorage.getItem("data"))[0],
                           numofshares: localStorage.getItem("numOfShares"),
                           originalprice: originalprice
                        },
                        success: function(data){
                           alert(data);
                        },
                        error: function(err){
                           alert("error:" , err);
                        }
                     });
                  }
               </script>
         
         <% } %> 
      <% } %>   
      </div> 
</div>
<% include ./partials/footer %>