<% include ./partials/header %>

<div class="container">
    <h1>My Portfolio</h1>
    <a href="/newStock" class="btn btn-lg btn-default">Search for a New Stock</a>
</div>
    

<% include ./partials/footer %>